body {
    background-color: white;
}

div {
  position: absolute;
  margin-left: 12.5%; margin-right: 12.5%;
  width: 75%;
  background-color: #37474F;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #FF4081;
}

p, h1, h2, h3, h4 {
    font-family: Tahoma, Geneva, sans-serif;
    padding-left: 50px; padding-right: 50px;
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #263238;
}

li {
    float: left;
    font-family: Tahoma, Geneva, sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #455A64;
}

.active {
    background-color: #FF4081;

}

html {
    overflow-y: scroll;
}